/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background: white;
	color: 
#000;
	font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1.6em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 2em; /* equiv 26px */
	line-height: 1.6154em;
	margin: .8077em 0 .8077em 0;
	text-align: center;

}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
	padding: 1px;
	border-bottom: 0.5px solid black;
	width: 30%;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: 
#000;
	color:
#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}

.en-tete{

    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 8vh;
    display: flex;
	flex-direction: row;
	position: sticky;
	top: 0px;
	z-index: 10000;
    
}

header .navbar{

	width: 50%;
}

.navlist{

    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navlist li{

    list-style: none;


}

.navlist li a{

    background: rgb(0 112 209);
    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5vh;
	border-radius: 20px;
	font-weight: bold;
	
}

.navlist li a:hover{

    background: rgb(3, 84, 154);


}

.en-tete a #logo{

	height: 6vh;
	margin-top: 1vh;
	

}

.grow { 
	transition: all .2s ease-in-out; 
}
	
.grow:hover { 
	transform: scale(1.1); 
}

main{

	order : 1;
}

head{

	order: 0;
}

aside{

	order: 1;
}

main > h1{

    background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5vh;
	font-weight: bold;
    z-index: 10;
    height: 5vh;
    border-radius: 10px;
}

.footer{

	background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
	order: 100;
	height: 50vh;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;

}

.container-footer{

	width: 100%;
	margin-top: 1vw;
}

.infos{

	width: 30%;
}

.infos>ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: left;
	height: 10vh;
	margin-left: 2vw;
	padding-left: 0.3vw;
}

.infos>ul a{

	text-align: left;
	color: #fff;
	text-decoration: none;
	margin-left: 0vw;
	padding-left: 0vw;
	font-size: 1.1em;
}

.infos>ul a:hover{

	text-align: left;
	color: rgb(225, 225, 225);
	text-decoration: none;
}

.container-footer h1{

	left: 2vw;
	text-align: left;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vw;
	color: #fff;
	border-bottom: 0.5px solid ;
	padding-bottom: 1vw;
}

.container-footer h2{

	left: 2vw;
	text-align: left;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vw;
	color: #fff;
	width: 30%;
	border-bottom: none;
	font-size: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.container-footer p{

	color: #fff;
	margin-left: 2vh;
	margin-top: 2vw;


}

p{
	font-size: 1.1em;
}
