#table-console{

    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
}

#table-console td{

    font-size: 1.3em;
    text-align: center;

}


#table-console tr:nth-child(2n){

    background-color: rgb(222, 222, 222);
}

#table-console tbody tr:nth-child(n):hover{

    background-color: rgb(222, 222, 222);
}

#table-console img{

    height: 200px;
    width: 200px;
    
}

#table-console thead{

    background: linear-gradient(rgb(1 114 208), rgb(0 67 156)) ;
    height: 40px;

}

caption > strong{

    color: rgb(0 67 156);
    font-size: 1.6em;
    /*text-shadow: 1px 1px 2px black;*/
    text-transform: capitalize;
}

#table-console th{

    color: white;
    font-size: 1.2em;
}


@media screen and (max-width: 700px){

    #table-console img{

        height: 100px;
        width: 100px;
        
    }

    #table-console tbody{

        overflow: scroll;
        height: 70vh;
    }

    #table-console thead{

        height: 30px;
    }

    caption>strong{

        font-size: 1.4em;
    }
}