
body {
	background: white;
	color: 
#000;
	font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1.6em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


p{
	font-size: 1.1em;
	padding-left: 1vw;
	padding-right: 1vw;
	/*padding: 1vw 6vw 1vw 6vw;*/
	width : 97%
}

h1, .h1-like {
	font-size: 2em; /* equiv 26px */
	line-height: 1.6154em;
	margin: .8077em 0 .8077em 0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;

}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
	padding: 1px;
	border-bottom: 0.5px solid black;
	width: 30%;
}

/*barre de navigation-----------

-------------------------*/
.en-tete{

    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 6vh;
	width: 100%;
    display: flex;
	flex-direction: row;
	position: sticky;
	top: 0px;
	z-index: 10000;
	min-height: 50px;
	max-height: 70px;
    
}

.navbar{

	width: 75%;
	position: relative;

}

.navlist{

    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
}

.navlist li{

    list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;


}

.navlist li a{

    background: rgb(0 112 209);
    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5vh;
	border-radius: 20px;
	font-weight: bold;
	min-height: 20px;
	
}

.navlist a:hover{

    background: rgb(3, 84, 154);


}

.sub-list{

	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	background-color: rgba(3, 84, 154, 0);

}

.sub-list li{

	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	margin: 0;

}

.sub-list li>a{

	margin: 0;
	text-align: center;
	background-color: rgb(0 112 209);
	color: white;
	font-size: small;
	width: 100%;
	border:  0.5px solid white;

}

.navlist li:hover .sub-list{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	align-content: center;
	gap: 0px;
}


.en-tete a #logo{

	height: 90%;
	margin-top: 5%;
	margin-left: 0%;

}
.en-tete>a{

	width: 9vw;
}

#user-icon{

	height: 80%;
	margin-top: 1vh;
	float: right;
	right: 1vw;
	position: absolute;
	top: 0;
	
}



.grow { 
	transition: all .2s ease-in-out; 
}
	
.grow:hover { 
	transform: scale(1.1); 
}


/*----------------------

--------------------*/

main{

	order : 1;
}

head{

	order: 0;
}

aside{

	order: 1;
}

main > h1{

    background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
    z-index: 10;
    border-radius: 10px;
	min-height: 10px;
}



/*footer ---------------

---------------------
*/
.footer{

	background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
	order: 100;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;

}

.container-footer{

	width: 100%;
	margin-top: 1vw;
	display: flex;
	flex-direction: row;
	padding-bottom: 3vw;
	position: relative;

}

.container-footer::before{
	content: '';
	position: absolute;
	bottom: 0;
	border-bottom: 0.5px solid white;
	left: 0;
	margin-left: 2vw;
	margin-bottom: 1vw;
	width: 96%;
 }


.column{

	width: 50%;
	margin-bottom: 20px;
	

}

.column>ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: left;
	height: 10vh;
	margin-left: 2vw;
	padding-left: 0.3vw;
}

.column>ul a{

	text-align: left;
	color: #fff;
	text-decoration: none;
	margin-left: 0vw;
	padding-left: 0vw;
	font-size: 1.1em;
}

.column>ul a:hover{

	text-align: left;
	color: rgb(225, 225, 225);
	text-decoration: none;
}

.footer h1{

	left: 2vw;
	text-align: left;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vw;
	color: #fff;
	border-bottom: 0.5px solid ;
	padding-bottom: 1vw;
}

.container-footer h2{

	left: 2vw;
	text-align: left;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vw;
	color: #fff;
	width: 50%;
	border-bottom: none;
	font-size: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer p{

	color: #fff;
	margin-left: 2vh;
	margin-top: 2vw;


}

#author{

	padding-bottom: 1.5vh;
	margin-bottom: 1vh;

}



@media screen and (max-width: 700px){
	
	p{
		width: 100%;
	}

	.navbar{

		width : 65%;
	}

	.en-tete{

		height: 6vh;
	}
	/*
	.en-tete a #logo{

		height: 6vh;
		margin-top: 1vh;
		
	
	}
	*/

	h2{

		width: 50%;
	}
}

@media screen and (max-width: 600px){
	
	.navbar{

		max-width: 90%;
	}

	p{
		width: 95%;
	}

	.en-tete>a{

		width: 20vw;
	}

	.navlist{

		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.navlist li:hover .sub-list{
		display: none;
	}
}


@media screen and (max-width: 400px){


	p{
		width: 90%;
	}

	.navbar{

		max-width : 60%;
		margin: 0;
	}


	h2{

		width: 50%;
	}

	.column{

		width: 60%
	}

}

@media screen and (min-width: 980px){

	main{
		margin-left: 20%;
		width: 60%;
	}

	.navlist li a{

		background: rgb(0 112 209);
		text-decoration: none;
		color: rgb(255, 255, 255);
		text-align: center;
		padding: 0.5vh;
		border-radius: 20px;
		font-weight: bold;
		font-size: 1.3em;
		
	}

	.sub-list li>a{

		font-size: small;
		
	}

	.en-tete{
		height : 8vh;
	}

	.navbar{

		width:75vw;
	}
}
	
@media screen and (min-width: 1200px){

	.navbar{

		width: 75vw;
		left: 1vw;
	}
}