
h2{

    margin-bottom: 1vh;
}

.figure-img figcaption{

    text-align: center;
    background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
}


.game {

    margin-bottom: 30px;
}


#GOW .figure-img{

    height: 250px;
    width: 250px;
    float: right;
    object-fit: cover;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid black;

}

#uncharted .figure-img{

    height: 259px;
    width: 194px;
    float: left;
    object-fit: cover;
    margin: 20px 10px 50px 5px;
    border: 1px solid black;

}

#uncharted{

    margin-bottom: 120px;
}

#ratchet .figure-img{

    height: 259px;
    width: 194px;
    float: right;
    object-fit: cover;
    margin: 20px 10px 60px 5px;
    border: 1px solid black;
}

@media screen and (min-width: 980px){

    .game{

        margin-bottom: 120px;
    }

    #uncharted{

        margin-bottom: 160px;
    }
}


@media screen and (max-width: 400px){
	

	p{
		width: 95%;
	}

    h2{
        width: 70%;
    }

    #uncharted{

        margin-bottom: 0px;
    }

}