


.slider-index{
    width: 100%;  
    height: 710px;
    position: relative;
    margin: auto;
    overflow: hidden;
    order: 0;

}

/*boutons*/
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0px;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgb(0 112 209);
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: rgb(3, 84, 154);
}

.slide-input{
    opacity: 0;
}
.slide {
    /*image : height
      normal : 650px
    */
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    border: thick double rgb(0 112 209);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}

#slide-img1 {

    background-image: url("../images/uncharted.jpg");

}

#slide-img2{

    background-image: url("../images/psvr_650.jpg");

}

#slide-img3 {

    background-image: url("../images/gow_flou.jpeg");

}

.slide a{
    background: linear-gradient(rgb(1 114 208), rgb(0 67 156));
    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5vh;
	border-radius: 20px;
	font-weight: bold;
    font-size: 1.3em;
    z-index: 10;
    left: 50vw;
    bottom: 0;
    margin-top: 10px;
    /*border: thick double rgb(2, 80, 183);*/
}

.slide a:hover{
    background: linear-gradient(rgb(2, 80, 183), rgb(1, 37, 83));
    /*border: thick double rgb(1, 37, 83);*/
}

.slide p{

    text-decoration: none;
    color: rgb(255, 255, 255);
	text-align: center;
	padding: 0.5vh;
	border-radius: 20px;
	font-weight: bold;
    font-size: 1.6em;
    z-index: 10;
    left: 50vw;
    bottom: 0;
    margin-top: 400px;
    text-shadow: 3px 3px 3px black;
    padding-left: 20%;
    padding-right: 20%;
}


[id^="slider-img"]:checked + .slide{
    left: 0;
    z-index: 0;
    transition: left 0s, ease-out;
}


@media screen and (min-width: 980px){

	.slider-index{

        margin-left: 10%;
		width: 80%;
    }

}